* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}
.generator-container {
  max-width: 350px !important;
  height: auto;
}
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  input[type='number'] {
    max-width: 100px;
  }
}
.generate-button {
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
}
.result-container {
  input {
    letter-spacing: 1px;

    width: 100%;
    height: 50px;
  }
}

.result-container {
  input {
    word-wrap: break-word;
  }
}

.clipboard-btn {
  font-size: 20px;
  height: 40px;
  width: 40px;
}

.password-container {
  display: block;
}
